# Dependency - Folder ini sangat berat dan tidak boleh di-push
node_modules/

# Security - File rahasia yang berisi password database
.env

# Logs - Catatan error yang tidak perlu di repositori
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS Metadata - File sampah dari sistem operasi (terutama Mac)
.DS_Store
Thumbs.db

# Folder Build (Jika ada)
dist/
build/